.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}


.fig_desc {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 17px;
}

h2 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 5px;
}

.shiny-output-error { 
  visibility: hidden; 
}
.shiny-output-error:before {
  visibility: hidden;
}
